<div class="notification-container">
  <div class="d-flex align-items-center">
    <svg id="success" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         viewBox="0 0 50 50" height="40px" width="40px">
<circle style="fill:none;" cx="25" cy="25" r="25"/>
      <polyline style="fill:none;stroke:#75FFA6FF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
	38,15 22,33 12,25 "/>
    </svg>
    <p class="notification-info ms-3">Файл удалён.</p>
  </div>
</div>
