h1, input, button
{
  letter-spacing: 2px;
}
.valid-button
{
  border: 1px solid rgba(106, 210, 255, 0.7);
}
.valid-button:hover
{
  box-shadow: 0 0 10px rgba(106, 210, 255, 0.5);
  border: 1px solid rgba(106, 210, 255);
}
.invalid-button
{
  border: 1px solid transparent;
}
.login-error-message
{
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  color: #ff7777;
  margin: 0;
  padding: 15px 0;
}
