<app-navbar></app-navbar>
<div class="container-fluid px-sm-4 h-100 d-flex flex-column">
  <div class="row h-100 mt-5">
    <div class="col-12 col-lg-5 col-xl-6 my-auto">
      <h1 class="main_page_header">Бесплатное хранилище для ваших фотографий</h1>
      <p class="main_page_info mt-4">Загружайте изображения, получайте к ним доступ с любого устройства. Без ограничения ёмкости хранилища.
      </p>
    </div>
    <div class="col-12 col-lg-7 col-xl-6">
      <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <section class="container body-section">
          <div class="animation-wrapper">
            <div class="animation-content">
              <aside></aside>
              <aside></aside>
              <div><span></span><span></span>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div><span></span><span></span>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div><span></span><span></span>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div><span></span><span></span>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div><span></span><span></span>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div><span></span><span></span>
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div class="row mt-3">
          <div class="col-12 col-sm-4">
            <h2 class="section_header">Количество пользователей</h2>
            <p class="section_info ">{{statistics?.usersCount}}</p>
          </div>
          <div class="col-12 col-sm-4">
            <h2 class="section_header">Изображений загружено</h2>
            <p class="section_info ">{{statistics?.imagesCount}}</p>
          </div>
          <div class="col-12 col-sm-4">
            <h2 class="section_header">Нас посетили</h2>
            <p class="section_info ">{{statistics?.totalVisits}} раз(а)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
